.feed {
  flex: 0.6;
  margin: 0 20px;
}

.feed__inputContainer {
  background-color: #fff;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed__input {
  border: 1px solid #eef3f8;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: #686a6c;
  padding: 15px;
}

.feed__input > form {
  display: flex;
  width: 100%;
}

.feed__input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  font-weight: 600;
}

.feed__input > form > button {
  display: none;
}
