.feed {
  width: 100%;
  margin: 10px 0 0 0;
}

.feed__inputContainer {
  background-color: #fff;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed__input {
  border: 1px solid #eef3f8;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: #686a6c;
  padding: 15px;
}

.feed__input > form {
  display: flex;
  width: 100%;
}

.feed__input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  font-weight: 600;
}

.feed__input > form > button {
  display: none;
}

.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .feed {
    width: calc(70% + 20px);
    position: relative;
    margin: 0 0 0 20px;
  }
}

@media screen and (min-width: 992px) {
  .feed {
    width: 60%;
    margin: 0 20px;
  }
}
