.headerOption {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: #686a6c;
  cursor: pointer;
}

.headerOption:hover,
.headerOption:active {
  color: #000;
}

.headerOption:focus-visible {
  outline: 2px solid #0af;
  outline-offset: 3px;
}

.headerOption__title {
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  display: none;
}

.headerOption__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}

@media screen and (min-width: 768px) {
  .headerOption__title {
    display: flex;
  }
}
