.header {
  display: flex;
  background-color: #fff;
  justify-content: space-evenly;
  border-bottom: 0.1px solid #d3d3d3;
  padding: 10px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.screen .header {
  border-bottom: none;
}

.header__container {
  max-width: 1200px;
  margin: 0 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: #686a6c;
  background-color: #eef3f8;
}

.header__search:hover,
.header__search:active {
  background-color: #d6dadf;
}

.header__search:focus-visible {
  outline: 2px solid #0af;
  outline-offset: 3px;
}

.header__search > input {
  border: 0;
  outline: none;
  background-color: transparent;
}

.header__right {
  display: flex;
  position: relative;
}

.header__dropdown {
  position: absolute;
  right: 0;
  bottom: -60px;
  background-color: #fff;
  border: 1px solid #eef3f8;
  border-radius: 10px;
  color: #686a6c;
}

.header__dropdownList {
  list-style: none;
  padding: 0;
}

.header__dropdownList > li {
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  padding: 10px;
  text-transform: capitalize;
}

.header__avatar > svg {
  position: absolute;
  right: 0;
  bottom: -2px;
  cursor: pointer;
  color: #686a6c;
}

.header__avatar .MuiAvatar-root {
  left: 10px;
}

.header__avatar .headerOption__title {
  display: flex;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header__container {
    max-width: 960px;
  }
}
