.header {
  display: flex;
  background-color: #fff;
  justify-content: space-evenly;
  border-bottom: 0.1px solid #d3d3d3;
  padding: 10px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__left {
  display: flex;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: #686a6c;
  background-color: #eef3f8;
}

.header__search:hover,
.header__search:active {
  background-color: #d6dadf;
}

.header__search:focus-visible {
  outline: 2px solid #0af;
  outline-offset: 3px;
}

.header__search > input {
  border: 0;
  outline: none;
  background-color: transparent;
}

.header__right {
  display: flex;
}
