.post {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post__header {
  display: flex;
  margin-bottom: 10px;
}

.post__info {
  margin-left: 10px;
}

.post__info > h2 {
  font-size: 15px;
}

.post__info > p {
  font-size: 12px;
  color: #686a6c;
}

.post__body {
  overflow-wrap: anywhere;
}

.post__buttons {
  display: flex;
  justify-content: space-evenly;
}

.post__buttons .inputOption {
  flex-flow: column;
}

.post__buttons .inputOption > h4 {
  display: none;
  margin: 8px 0 0 0;
}

@media screen and (min-width: 768px) {
  .post__buttons .inputOption > h4 {
    display: flex;
  }
}
