.app {
  background-color: #f3f2ef;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.app__body {
  display: flex;
  flex-flow: wrap;
  max-width: 1200px;
  margin: 20px 12px 0 12px;
  width: calc(100% - 24px);
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .app__body {
    width: inherit;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .app__body {
    max-width: 960px;
    width: inherit;
    flex-flow: initial;
  }
}

@media screen and (min-width: 1200px) {
  .app__body {
    flex-flow: initial;
  }
}
